div.parent
  div -- The newlines at the start and end of parent's body will be removed.

  div -- But newlines between will be preserved.
div
  // This is a line comment

  div -- with another below it.

  // This is a line comment.
