<div class="parent">
  <div>The newlines at the start and end of parent's body will be removed.</div>

  <div>But newlines between will be preserved.</div>
</div>

<div>
  // This is a line comment

  <div>with another below it.</div>

  // This is a line comment.
</div>
