import { foo } from "./bar";

// Comment before top-level style tag.
<style></style>

// Comment before scriptlet.
$ const scriptlet = true;

// Comment before top-level tag.
<div/>

// Comment before top level static.
static function test() {
  // This is a test function.
}

// Floating comment

// Comment before class.
class {}

// Comment before style block.
style {  }

// Comment before top level static.
static function test() {
  // This is a test function.
}
